name: Tests

on:
  workflow_call:

jobs:
  lint-and-tidy:
    name: Verify Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Set up golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/v1.64.8/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.64.8

      - name: Run lint check
        run: make lint

      - name: Run tidy check
        run: |
          go mod tidy
          # Fail if go.mod or go.sum changed
          git diff --exit-code go.mod go.sum

  test:
    name: Verify Unit Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
        - '1.25'
        - '1.24'
        - '1.23'
        - '1.22'
        - '1.21'
        - '1.20'
        - '1.19'
        - '1.18'
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Run unit tests
        run: make test

